
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div id="contact">
        <img src="@Url.Content("~/Content/Images/icons/Contact-Us.jpg")" />
        <div class="caption">
            <h1 class="caption-text">Give us a Shout</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Corporate Headquarters</h3>
            <ul>
                <li>
                    Trail Partners Inc.
                </li>
                <li>
                    1234 Euclid Ave, Suite 14
                </li>
                <li>
                    Cleveland, OH 44134
                </li>
                <li>
                    CEO: Tuck Buckford
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <h3>General Contact</h3>
            <ul>
                <li>
                    Toll Free: 888-888-8888
                </li>
                <li>
                    Phone: 123-456-7890
                </li>
                <li>
                    Fax: 246-810-1214
                </li>
                <li>
                    Email: DotNetCohort@gmail.com
                </li>
            </ul>
        </div>
    </div>
</div>